# Netlify & Supabase Environment Variables Example
# Add these variables in your Netlify site configuration (Site Settings -> Environment Variables)

VITE_SUPABASE_URL=https://pujagnzbdygoreffrwud.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_9Ppe5odDb4df1ToPOMzehw_Yhf71G3F
# VITE_NETLIFY_BUILD_HOOK_URL=https://api.netlify.com/build_hooks/6a94b87499ce0c54e176f8b5